# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

.idea/*
sites/all/themes/itdash/html/scss/.sass-cache
sites/all/themes/itdash/html/scss/.sass-cache/*
/nbproject/private/

