/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-size: 34px;
  line-height: 34px;
  font-weight: normal;
  padding: 0 24px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  @include transition(background-color 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button

.delete-btn {
  @extend %btn; // here we load the btn defaults
  position: relative;
  font-size: 13px;
  background-color: transparent;
  color: #0d6c88;
  padding-right: 15px;
  padding-left: 15px;
  float: right;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    @include sprite-icon('remove-icon-normal');
  }
  &:hover {
    color: #0d6c88;
    &:after {
      @include sprite-icon('remove-icon-normal');
    }
  }
}

.export-btn {
  color: #202b3d;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  height: 41px;
  line-height: 41px;
  border: 1px solid #99a8c2;
  border-radius: 4px;
  min-width: 128px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 2;
  background: #d0d8e5;
  background: -moz-linear-gradient(top, #d0d8e5 0%, #c9d1de 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d8e5), color-stop(100%, #c9d1de));
  background: -webkit-linear-gradient(top, #d0d8e5 0%, #c9d1de 100%);
  background: -o-linear-gradient(top, #d0d8e5 0%, #c9d1de 100%);
  background: -ms-linear-gradient(top, #d0d8e5 0%, #c9d1de 100%);
  background: linear-gradient(to bottom, #d0d8e5 0%, #c9d1de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d8e5', endColorstr='#c9d1de',GradientType=0 );
  &:hover {
    color: #fff;
    border: 1px solid #0e6872;
    background: #157a86;
    background: -moz-linear-gradient(top, #157a86 0%, #0e6872 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #157a86), color-stop(100%, #0e6872));
    background: -webkit-linear-gradient(top, #157a86 0%, #0e6872 100%);
    background: -o-linear-gradient(top, #157a86 0%, #0e6872 100%);
    background: -ms-linear-gradient(top, #157a86 0%, #0e6872 100%);
    background: linear-gradient(to bottom, #157a86 0%, #0e6872 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157a86', endColorstr='#0e6872',GradientType=0 );
  }
}
