#content {
  #inner-content {
    h3 {
      font-size: 18px;
      color: #202b3d;
      font-weight: 600;
    }
  }
  .project-draft-submission,
  .project-update-submission {
    font-size: 14px;
    .row {
      margin-bottom: 15px;
      .label {
        font-weight: 700;
        color: #202b3d;
        padding-right: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        .edit-btn {
          display: inline-block;
          margin-left: 10px;
          color: #0d6c88;
          position: relative;
          font-size: 13px;
          font-weight: 500;
          padding-left: 25px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
          &:before {
            display: block;
            width: 16px;
            height: 16px;
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            @include sprite-icon('edit-icon');
          }
        }
        .tooltip {
          position: relative;
          width: 16px;
          height: 16px;
          margin-bottom: -3px;
          margin-left: 10px;
          @include sprite-icon('tooltip-icon-normal');
          display: inline-block;
          &:hover {
            @include sprite-icon('tooltip-icon-hover');
            display:inline-block;
          }
          span.tooltip-content {
            position: absolute;
            display: none;
            color: #fff;
            font-size: 13px;
            line-height: 22px;
            background-color: #1e2635;
            padding: 10px 15px;
            border-radius: 10px;
            font-style: normal;
            bottom: 30px;
            right: -150px;
            width: 300px;
            &:after {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              display: block;
              border-left: 20px solid transparent;
              border-right: 20px solid transparent;
              border-top: 20px solid #1e2635;
              bottom: -10px;
              left: 50%;
              margin-left: -25px;
            }
          }
          &:hover {
            span.tooltip-content {
              display: block;
            }
          }
        }
        .start-year-select {
          margin-left: 10px;
          select {
            display: inline;
            width: 80px;
            -webkit-appearance: menulist;
            padding: 0 10px;
            height: 20px;
            line-height: 14px;
            margin: 0;
            border: 1px solid #a6a6a6;
            background-image: none;
            color: #202b3d;
          }
        }
      }
      .text {
        select,
        input[type="text"],
        textarea {
          border: 1px solid #b3bdcf;
          background-color: #fff;
          background-image: none;
          color: #4d586a;
          width: 100%;
          max-width: 640px;
          margin: 0;
          height: 36px;
          line-height: 36px;
          padding: 0 10px;
          &.add_datepicker {
            max-width: 607px;
          }
        }
        select[multiple="multiple"] {
          height: auto;
        }
        .grippie {
          max-width: 640px;
        }
        table {
          width: 100%;
          max-width: 640px;
          border-bottom: 1px solid #abb6cb;
          border-collapse: separate;
          font-size: 14px;
          &#financial-benefits {
            max-width: none;
          }
        }
        #edit-field-benefits-realised table{
          max-width: none;
        }
        tr {
          th {
            padding: 8px;
            background-color: #137992;
            border-left: 1px solid #0a5f74;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            vertical-align: top;
            text-shadow: 0 0 0;
            text-align: center;
            &:first-child {
              border-radius: 4px 0 0;
              border-left: 0 none;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
            }
          }
          td {
            border-left: 1px solid #abb6cb;
            border-top: 1px solid #abb6cb;
            padding: 0;
            color: #202b3d;
            background: #c8d0de;
            width: 110px;
            height: 38px;
            text-align: center;
            vertical-align: middle;
          }
        }
        p {
          margin: 0 0 5px;
        }
        table.table_field_collection {
          margin-bottom: 10px;
          tr {
            td {
              border-top: none;
              border-bottom: none;
              input {
                text-align: center;
                border-radius: 0;
                height: 39px;
                border: none;
              }
              .label {
                font-weight: normal;
              }
              &:last-child {
                border-right: 1px solid #abb6cb;
              }
            }
          }
        }
        .date-field-wrapper {
          .form-item {
            min-width: 640px;
            width: auto;
            position: relative;
            .ui-datepicker-trigger {
              position: absolute;
              top: 4px;
              right: -38px;
            }
          }
        }
        .remove-column-button {
          background: none;
          outline: none;
          border: none;
          color: #fff;
          text-decoration: underline;
        }
      }
      .form-item {
        float: none;
        width: 100%;
        margin-bottom: 0;
        .date-padding {
          float: none;
          padding: 0;
          input[type="text"] {
            width: 100%;
            max-width: 640px;
          }
        }
      }
    }
    .email-value {
      text-decoration: none;
      display: block;
      color: #0d6c88;
      padding-left: 15px;
      width: auto;
      margin-bottom: 15px;
    }
    .dotted-line {
      margin-top: 30px;
      display: block;
      height: 0px;
      border-bottom: 1px dotted #b3bdd2;
      width: 100%;
    }
    .sbHolder {
      max-width: 640px;
    }
    .sbSelector {
      width: 100%;
    }
  }
  .submit {
    margin-bottom: 20px;
    border-top: 1px solid #b0bacd;
    padding-top: 20px;
    text-align: right;
    margin-top: 30px;
  }
  .submit-button {
    background: url(../images/general-btn.png) repeat-x scroll 0 0 transparent;
    min-width: 275px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    text-indent: 0px;
    height: 41px;
    margin: 0 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: bold;
    border: 0 none;
    overflow: hidden;
    @include box-shadow(0 3px 0 #b1b7c1);
    margin-bottom: 3px;
    &:hover {
      background-position: 0 -41px;
    }
  }
  a.submit-button {
    line-height: 41px;
    text-decoration: none;
  }
}

// TEMPORARY
#ict-project-projects-create-form {
  input {
    max-width: 100% !important;
  }
  .sbHolder {
    max-width: 100% !important;
  }
}

#content .project-draft-submission table#financial-benefits,
#content .project-update-submission table#financial-benefits {
  border: 0;
  td {
    border-bottom: 1px solid #abb6cb;
    border-top: 0;
  }
  th {
    .label {
      color: white;
    }
  }
  label {
    display: none;
  }
  .field-widget-date-popup {
    position: relative;
    img {
      position: absolute;
      top: 5px;
      right: 8px;
    }
  }
  .row-white td{
    background-color: white;
  }
  .row-blue td{
    background-color: #dff1f5;
  }
  .sbHolder {
    background-color: transparent;
  }
  input[type=text] {
    height: 38px;
    @include border-radius(0);
    border: 0;
    background-color: transparent;
    &.hasDatepicker {
      padding-right: 25px;
    }
  }
  .date-no-float {
    width: 100%;
  }
  td.table-remove-button {
    background-color: transparent;
    input {
      background-color: transparent;
      color: #0d6c88;
      border: 0;
      border-bottom: 1px dotted;
      padding: 0;
    }
    border: 0;
  }
  .ict-tick {
    display: inline-block;
  }
}
.ict-tick {
  @include sprite-icon('tick');
}
.ict-align-center {
  text-align: center;
}

.field-name-field-guide{
  background-color: transparent;
}
