.page-entityform #content,
#user-pass-reset,
.entity-bean,
.node-type-page #inner-content{
  margin: 25px auto;
  .field {
    height: auto;
    line-height: 2.5em;
    max-width: none;
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;
    margin-top: -2px;
    padding-left: 28px;
    li {
      padding-left: 18px;
      line-height: 22px;
      position: relative;
      &:before {
        position: absolute;
        content: "• ";
        color: #17716b;
        left: -2px;
        font-size: 24px;
      }
    }
  }
}
.entity-bean {
  .field {
    overflow: hidden;
  }
}
.ict-rebaseline-warn {
  .field {
    min-height: 130px;
  }
}
.page-entityform {
  #content {
    min-width: 970px;
    width: 970px;
    padding: 50px 0;
    margin: 0 auto;
    @include clearfix;
    .tabs {
      display: none;
    }
  }
}
body,
#content {
  #ict-dashboard-detailed-overview {
    #benefits_legend {
      margin: -19px 0 0 397px;
    }
  }
  .welcome-text {
    a {
      color: #d5ff92;
      &:hover {
        text-decoration: none;
      }
    }

  }
  #inner-content {
    h3 {
      font-size: 18px;
      color: #202b3d;
      font-weight: 600;
    }
  }
  .ict-benefits {
    max-width: 812px;
    border: 1px solid #d8dee9;
    .node-faq-item {
      &.row-blue {
        background-color: #dff1f5;
      }
      .ict-faq-question {
        position: relative;
        padding: 10px 155px 10px 50px;
        &:before {
          left: 10px;
          top: 10px;
        }
        h4 {
          margin: 0;
          font-size: 16px;
        }
      }
      .ict-faq-answer {
        padding-top: 0;
        padding-left: 50px;
        ul {
          list-style: none;
          padding:0;
          margin:0;
          margin-top: -2px;
          li {
            padding-left: 18px;
            line-height: 22px;
            position: relative;
            &:before {
                position: absolute;
                content: "• ";
                color: #17716b;
                left: -2px;
                font-size: 24px;
            }
            .label {
              padding: 0;
              display: inline-block;
              min-width: 98px;
            }
            .benefit {
              display: inline-block;
            }
          }
        }
      }
      .benfit-status {
        position: absolute;
        top: 12px;
        right: 0px;
        width: 140px;
        color: black;
        .status-marker {
          width: 16px;
          height: 16px;
          display: inline-block;
          line-height: 54px;
          vertical-align: sub;
          margin-right: 5px;
        }
      }
    }
  }
  #user-pass-reset,
  .ict-fancy-content,
  .project-draft-submission,
  .project-update-submission {
    font-size: 14px;
    .row {
      margin-bottom: 15px;
      //@include clearfix;
      
      .label {
        position: relative;
        font-weight: 700;
        color: #202b3d;
        padding-right: 15px;
        padding-top: 9px;
        padding-bottom: 9px;
        .edit-btn {
          display: inline-block;
          margin-left: 0;
          color: #0d6c88;
          position: relative;
          font-size: 13px;
          font-weight: 500;
          padding-left: 25px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
          &:before {
            display: block;
            width: 16px;
            height: 16px;
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            @include sprite-icon('edit-icon');
          }
        }
        .start-year-select {
          select {
            display: inline;
            width: 80px;
            -webkit-appearance: menulist;
            padding: 0 10px;
            height: 20px;
            line-height: 14px;
            margin: 0;
            border: 1px solid #a6a6a6;
            background-image: none;
            color: #202b3d;
          }
        }
        .form-helptext {
          font-weight: normal;
          a:hover {
            text-decoration: none;
          }
        }
      }
      .text {
        .description {
          display: none;

        }  
        #edit-field-entity-comments {
          max-width: 640px;
          #cke_1_bottom {
            background: none;
            border-top: none;
          }
        }
        select,
        input[type="text"]:not(.form-autocomplete),
        textarea {
          border: 1px solid #b3bdcf;
          background-color: #fff;
          background-image: none;
          color: #4d586a;
          width: 100%;
          max-width: 640px;
          margin: 0;
          height: 36px;
          line-height: 36px;
          padding: 0 10px;

          #field-expected-completion-date-add-more-wrapper input,
          &.add_datepicker {
            max-width: 607px;
          }
        }
        input[type="text"].form-autocomplete {
          border: 1px solid #b3bdcf;
          color: #4d586a;
          width: 100%;
          max-width: 640px;
          margin: 0;
          height: 36px;
          line-height: 36px;
          padding: 0 10px;
        }
        select[multiple="multiple"] {
          height: auto;
        }
        .grippie {
          max-width: 640px;
        }
        table {
          width: 100%;
          max-width: 640px;
          border-bottom: 1px solid #abb6cb;
          border-collapse: separate;
          font-size: 14px;
          &#financial-benefits {
            max-width: none;
          }
        }
        #edit-field-benefits-realised table{
          max-width: none;
        }
        tr {
          th {
            padding: 8px;
            background-color: #137992;
            border-left: 1px solid #0a5f74;
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            vertical-align: top;
            text-shadow: 0 0 0;
            text-align: center;
            &:first-child {
              border-radius: 4px 0 0;
              border-left: 0 none;
            }
            &:last-child {
              border-radius: 0 4px 0 0;
            }
          }
          td {
            border-left: 1px solid #abb6cb;
            border-top: 1px solid #abb6cb;
            padding: 0;
            color: #202b3d;
            background: #c8d0de;
            width: 110px;
            height: 38px;
            text-align: center;
            vertical-align: middle;
            &.number-cell {
              background-color: #fff;
            }
          }
        }
        p {
          margin: 0 0 5px;
        }
        table.table_field_collection {
          margin-bottom: 10px;
          tr {
            td {
              border-top: none;
              border-bottom: 1px solid #abb6cb;
              input:not(.form-autocomplete) {
                text-align: center;
                border-radius: 0;
                height: 39px;
                border: none;
              }
              .label {
                font-weight: normal;
              }
              &:last-child {
                border-right: 1px solid #abb6cb;
              }
            }
            &:last-child {
              td {
                border-bottom: none;
              }
            }
          }
        }
        .date-field-wrapper {
          .form-item {
            min-width: 640px;
            width: auto;
            position: relative;
            .ui-datepicker-trigger {
              position: absolute;
              top: 4px;
              right: -38px;
            }
          }
        }
        .remove-column-button {
          background: none;
          outline: none;
          border: none;
          color: #fff;
          text-decoration: underline;
        }
        .field-name-field-portfolio-name {
          position: relative;
          .ajax-progress-throbber {
            position: absolute;
            top: -30px;
            left: 150px;
          }
        }
        #approvers,
        #editors {
          max-width: 720px;
        }
      }
      .form-item {
        float: none;
        width: 100%;
        margin-bottom: 0;
        .date-padding {
          float: none;
          padding: 0;
          input[type="text"] {
            width: 100%;
            max-width: 640px;
          }
        }
      }
    }
    .email-value {
      text-decoration: underline;
      display: block;
      color: #0d6c88;
      padding-left: 15px;
      width: auto;
      margin-bottom: 15px;
      &:hover {
        text-decoration: none;
      }
    }
    .dotted-line {
      margin-top: 30px;
      display: block;
      background: transparent url("../images/dot-line-bg.png") repeat-x scroll 0 0;
      height: 1px;
      width: 100%;
    }
    .sbHolder {
      max-width: 640px;
    }
    .sbSelector {
      width: 100%;
    }
  }
  .ict-fancy-content {
    .row {
      &:last-child {
        margin-bottom: 0;
      }
      table {
        tr {
          th {
            div.label {
              color: white !important;
            }
          }
        }
        td {
          padding: 3px;
        }
      }
    }
  }
  #ict-home-projects-table-id {
    h2 {
      font-weight: 600;
      color: #0d6c88;
      font-size: 26px;
      border-bottom: 1px solid #f0f4fa;
      margin: 21px 0 30px;
      padding: 0 0 8px;
    }
    .table-config-bar {
      margin: 30px 0 18px;
      .form-type-select {
        label {
          display: inline-block;
          font-weight: bold;
          font-size: 14px;
          margin-right: 6px;
          vertical-align: middle;
        }
        .sbHolder {
          width: auto;
          min-width: 79px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      .item-list {
        float: right;
      }
      .pager {
        margin: 0;
      }
    }
    table {
      width: 100%;
      max-width: none;
      table-layout: fixed;
      a {
        display: block;
        color: #027e9c;
        text-decoration: underline;
        &:focus,
        &:hover {
          color: #027e9c;
          text-decoration: none;
        }
      }
    }
    tr {
      &.tooltips-row {
        th {
          padding: 0 14px 15px;
          position: relative;
          &.current_sort {
            &:after {
              content: "";
              height: 5px;
              width: 100%;
              background-color: #3ac3cf;
              border: 1px solid #3ac3cf;
              border-right: 0;
              position: absolute;
              bottom: 0;
              left: -1px;
            }
          }
        }
      }
      th {
        padding: 11px 25px 6px 14px;
        background-color: #137992;
        border-left: 1px solid #0a5f74;
        color: #fff;
        text-shadow: 0 0 0;
        text-align: left;
        font-weight: bold;
        font-size: 15px;
        position: relative;
        vertical-align: middle;
        &.col-num-entity,
        &.col-num-benefits {
          width: 110px;
        }
        &.col-num-budget {
          width: 320px;
        }
        .tooltip {
          position: relative;
          margin: 0px;
          z-index: 1;
          @include sprite-icon(tooltip-icon-normal);
          display: block;
        }
        .ict-sort-link {
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          &:after,
          &:before {
            content: "";
            width: 0;
            height: 0;
            border: 4px solid;
            border-color: white transparent transparent transparent;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 36px;
          }
          &:after {
            border-color: transparent transparent white transparent;
            top: 26px;
          }
        }
      }
      td {
        padding: 18px 14px;
        color: #202b3d;
        width: 110px;
        vertical-align: middle;
        font-size: 14px;
        text-align: left;
        border-bottom: 1px dotted #d9dfe9;
        &.col-num-benefits {
          text-align: center;
        }
        &.current_sort {
          background-color: #d4f2f5;
          font-weight: 600;
        }
        &.schedule-status-0,
        &.schedule-status-1,
        &.schedule-status-2,
        &.schedule-status-col {
          padding: 18px 14px 18px 40px;
          position: relative;
          &:before {
            content: "";
            width: 16px;
            height: 16px;
            display: block;
            line-height: 54px;
            vertical-align: sub;
            margin-right: 5px;
            margin-top: -8px;
            top: 50%;
            left: 15px;
            background-color: #f6d000;
            position: absolute;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              top: auto;
              margin-top: 3px;
            }
          }
        }
        &.schedule-status-1 {
          &:before {
            background-color: #1fd063;
          }
        }
        &.schedule-status-2 {
          &:before {
            background-color: #75a2df;
          }
        }
        .graph-container {
          height: 30px;
          width: 100%;
          position: relative;
          .graph-level,
          .graph-bg,
          .graph-to-date,
          .graph-budget {
            width: 0%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #5c46a4;
          }
          .graph-to-date {
            background-color: #ff6161;
            margin: 5px 0 0;
            height: 20px;
          }
        }
        .graph-container-level {
          margin-top: 2px;
          height: 18px;
          .graph-level {
            background-color: #10d5db;
          }
          .graph-bg {
            background-color: #034657;
            width: 100%;
          }
        }
        .graph-value {
          text-align: center;
          margin-top: 2px;
        }
      }
      &.sort-direction-asc {
        .current_sort {
          .ict-sort-link {
            &:before {
              border-top-color: #3ac3cf;
            }
            &:after {
              display: none;
            }
          }
        }
      }
      &.sort-direction-desc {
        .current_sort {
          .ict-sort-link {
            &:before {
              display: none;
            }
            &:after {
              border-bottom-color: #3ac3cf;
            }
          }
        }
      }
    }
  }
  #ict-home-projects-table-id.ict-filtered-projects-table {
    tr {
      td {
        height: 67px;
        vertical-align: top;
        padding: 12px 14px 0;
        &.schedule-status-col {
          padding: 12px 14px 0 40px;
          &:before {
            top: 15px;
            margin-top: 0;
          }
        }
      }
    }
  }
  #edit-actions {
    width: 100%;
  }
  .submit {
    margin-bottom: 20px;
    border-top: 1px solid #f0f4fa;
    padding-top: 20px;
    text-align: right;
    margin-top: 30px;
  }
  .submit-button {
    background: url(../images/general-btn.png) repeat-x scroll 0 0 transparent;
    min-width: 275px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    text-indent: 0px;
    height: 41px;
    margin: 0 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: bold;
    border: 0 none;
    overflow: hidden;
    @include box-shadow(0 3px 0 #b1b7c1);
    margin-bottom: 3px;
    &:hover {
      background-position: 0 -41px;
    }
  }
  a.submit-button {
    line-height: 41px;
    text-decoration: none;
  }
}

#content .project-draft-submission table#financial-benefits,
#content .project-update-submission table#financial-benefits {
  border: 0;
  border-collapse: collapse;
  table-layout: fixed;
  td {
    border-bottom: 1px solid #abb6cb;
    border-top: 0;
    width: auto;
    text-align: left;
    padding-left: 18px;
    &.no-padding {
      padding: 0;
    }
    .sbHolder,
    textarea,
    .grippie {
      max-width: none;
      border: 0;
    }
  }
  th {
    padding: 0;
    @include border-radius(0);
    border-bottom: 1px solid #0a5f74;
    text-align: left;
    padding-left: 16px;
    &.benefit-num {
      width: 42px;
      border-bottom: 2px solid #025468;
      border-right: 1px solid #0a5f74;
      .label {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .label {
      color: white;
    }
  }
  tr {
    &:first-child {
      th:first-child {
        @include border-radius(4px 0 0);
      }
      td {
        border-top: 1px solid #abb6cb;
      }
    }
    &:last-child th {
      //@include border-radius(0 0 0 4px);
    }
  }
  label {
    display: none;
  }
  .field-widget-date-popup {
    position: relative;
    img {
      position: absolute;
      top: 5px;
      right: 8px;
    }
  }
  .row-white td{
    background-color: white;
  }
  .row-blue td{
    background-color: #dff1f5;
    textarea {
      background-color: #dff1f5;
    }
  }
  .row-yellow td {
    background-color: #f5f2d7;
  }
  .sbHolder {
    background-color: transparent;
  }
  input[type=text] {
    height: 38px;
    @include border-radius(0);
    border: 0;
    background-color: transparent;
    &.hasDatepicker {
      padding-right: 30px;
      text-align: left;
      padding-left: 0;
    }
  }
  textarea {
    padding-left: 18px;
    min-height: 0;
    line-height: 28px;
    margin-top: 5px;
  }
  .sbSelector {
    text-indent: 48px;
    line-height: 40px;
  }
  .sbOptions {
    li {
      padding-left: 0;
    }
    a {
      border-bottom: dotted 1px #cad4e7;
      padding-left: 48px;
    }
  }
  .date-no-float {
    width: 100%;
  }
  .last-benefit-row {
    th {
      border-bottom: 2px solid #025468;
    }
    td {
      border-bottom: 2px solid #808da6;
    }
  }
  td.table-remove-button {
    //background-color: transparent;
    a,
    input {
      background-color: transparent;
      color: #0d6c88;
      border: 0;
      padding: 0;
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    .history-button,
    .remove-wrap {
      position: relative;
      padding-left: 20px;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 13px;
        @include sprite-icon(remove-icon-normal);
      }
      &:hover {
        input {
          text-decoration: none;
        }
        &:before {
          @include sprite-icon(remove-icon-hover);
        }
      }
    }
    .history-button {
      &:before {
        top: 5px;
        @include sprite-icon(history-icon);
      }
      &:hover {
        &:before {
          @include sprite-icon(history-icon);
        }
      }
    }
    //border: 0;
  }
  .ict-tick {
    display: inline-block;
  }

}
.field-name-field-status {
  td.field-status,
  .sbHolder,
  .sbOptions a {
    position: relative;
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 54px;
      vertical-align: sub;
      margin-right: 5px;
      position: absolute;
      top: 11px;
      left: 18px;
    }
  }
  td.field-status.yes:before,
  .sbHolder.yes:before,
  a[rel=yes]:before {
    background-color: #1b56af;
  }
  td.field-status.no:before,
  .sbHolder.no:before,
  a[rel=no]:before {
    background-color: #c42656;
  }
  td.field-status.on_track:before,
  .sbHolder.on_track:before,
  a[rel=on_track]:before {
    background-color: #1fd063;
  }
  td.field-status.at_risk:before,
  .sbHolder.at_risk:before,
  a[rel=at_risk]:before {
    background-color: #f6a33c;
  }
  td.field-status.removed:before,
  .sbHolder.removed:before,
  a[rel=removed]:before {
    @include sprite-icon(remove-icon-normal);
    top: 11px;
  }
  td.field-status.removed:before {
    display: inline-block;
  }
  td.field-status:before {
    position: static;
    display: inline-block;
  }
  .sbHolder.removed:before {
    top: 14px;
  }
}
.benefits-action {
  text-align: right;
}
.ict-tick {
  @include sprite-icon('tick');
}
.ict-align-center {
  text-align: center;
}

.field-name-field-guide{
  background-color: transparent;
}

.node-basic-page, .bean-admin-editable{
  .field{
    max-width: none;
    background-color: transparent;
  }
  a:hover {
    text-decoration: none;
  }
}

.sbOptions {
  z-index: 99;
}

.legend {
  overflow: hidden;
  margin-bottom: 25px;
  .bar-legend {
    padding-left: 40px;
    li {
      line-height: 20px;
      float: left;
      margin-right: 25px;
      font-size: 14px;
      span {
        margin-right: 7px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        &.required {
          width: auto;
          vertical-align: top;
          margin: 0;
        }
      }
      b {
        color: #202b3d;
      }
    }
  }
  &#schedule_legend {
    .bar-legend {
      padding-left: 2px;
    }
  }
  &#benefits_legend {
    .bar-legend {
      li {
        float: none;
        font-weight: bold;
        margin-bottom: 25px;
      }
    }
  }
}

.preview_switch {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle!important;
  min-width: 312px!important;
  .viz-ico {
    @include sprite-icon(pie-ico);
  }
  .table-ico {
    @include sprite-icon(table-ico);
  }
  .viz-ico,
  .table-ico {
    display: inline-block;
    vertical-align: sub;
    margin-right: 15px;
  }
}
.tooltip-bottom,
.tooltip-edit,
.status-icon,
.tooltip {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: -3px;
  margin-left: 5px;
  margin-right: 10px;
  z-index: 1;
  @include sprite-icon('tooltip-icon-normal');
  display: inline-block;
  &:hover {
    @include sprite-icon('tooltip-icon-hover');
    display:inline-block;
  }
  span.tooltip-content {
    position: absolute;
    display: none;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    background-color: #1e2635;
    padding: 10px 15px;
    border-radius: 10px;
    font-style: normal;
    bottom: 30px;
    right: -150px;
    width: 300px;
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      display: block;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #1e2635;
      bottom: -10px;
      left: 50%;
      margin-left: -25px;
    }
  }
  &:hover {
    span.tooltip-content {
      display: block;
    }
  }
}
.tooltip-bottom {
  span.tooltip-content {
    top: 30px;
    right: -147px;
    bottom: auto;
    &:after {
      border-top: 20px solid transparent;
      border-bottom: 20px solid #1e2635;
      top: -30px;
      bottom: auto;
    }
  }
}
.tooltip-edit {
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
  @include sprite-icon('edit-highlight');
  display: inline-block;
  &:hover {
    @include sprite-icon('edit-highlight');
    display: inline-block;
  }
  span.tooltip-content {
    position: absolute;
    display: none;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    background-color: #1e2635;
    padding: 10px 15px;
    border-radius: 10px;
    font-style: normal;
    bottom: 30px;
    right: -150px;
    width: 300px;
    &:after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      display: block;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #1e2635;
      bottom: -10px;
      left: 50%;
      margin-left: -25px;
    }
  }
  &:hover {
    span.tooltip-content {
      display: block;
    }
  }
}
#project-listings .status-icon {
  width: 18px;
  @include sprite-icon('status-icon-normal');
  display: inline-block;
  &:hover {
    @include sprite-icon('status-icon-hover');
    display: inline-block;
  }
  &:active {
    @include sprite-icon('status-icon-hover');
    display: inline-block;
  }
  span.tooltip-content {
    font-weight: 700;
  }
  &:focus {
    span.tooltip-content {
      display: block;
    }
  }
}

#ict-dashboard-overview-number-indicators {
  background-color: #e5eaf3;
  padding-top: 31px;
  padding-bottom: 30px;
  .label {
    font-size: 18px;
    font-weight: 600;
    color: #202b3d;
    line-height: 18px;
    .tooltip {
      margin-left: 2px;
      vertical-align: top;
    }
  }
  #ict-dashboard-numbers {
    padding-left: 5px;
    .row {
      margin-bottom: 55px;
      &:first-child {
        margin-bottom: 140px;
      }
      &:last-child {

      }
      .big-number {
        font-size: 70px;
        line-height: 80px;
        font-weight: 600;
        color: #202b3d;
        a {
          color: #202b3d;
          text-decoration: underline;
          &:focus,
          &:hover {
            color: #202b3d;
            text-decoration: none;
          }
        }
      }
    }
    .general-button {
      display: block;
      span {
        text-align: left;
        padding-left: 16px;
        font-weight: 600;
        line-height: 34px;
        height: 35px;
      }
    }
  }
  #overview-graphs {
    padding-right: 90px;
    .label {
      margin-bottom: 11px;
    }
    #overview-expenditure-switch {
      position: relative;
      margin-top: 5px;
      label {
        font-weight: bold;
        float: left;
        color: #202b3d;
        font-size: 14px;
        line-height: 34px;
      }
      .sbHolder {
        max-width: 100%;
        width: 89%;
        margin-left: 60px;
        margin-right: 60px;
      }
      .sbToggle {
        background-position: 0 -115px;
      }
      .sbSelector {
        height: 32px;
        line-height: 32px;
      }
    }
    .legend {
      .bar-legend {
        padding-left: 0;
        font-size: 14px;
        margin: 11px 0;
        overflow: hidden;
        li {
          color: #202b3d;
          margin-right: 30px;
          span {
            margin-right: 2px;
          }
        }
      }
    }
    .expenditure-budget-value {
      text-align: center;
      font-size: 16px;
      color: #202b3d;
    }
    #project-schedule-status-graph {
      margin-top: 12px;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    #statuses_legend {
      .bar-legend {
        margin: 0;
        li {
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

#ict-dashboard-detailed-overview {
  h2 {
    font-size: 26px;
    line-height: 58px;
    border-bottom: 1px solid #f0f4fa;
    color: #0d6c88;
    font-weight: 600;
    margin-bottom: 30px;
    .tooltip {
      margin-left: 0;
      vertical-align: baseline;
      margin-bottom: -1px;
    }
  }
  #detailed-view-expenditure {
    padding-top: 15px;
  }
  #expenditure_legend {
    .bar-legend {
      overflow: hidden;
    }
  }
  #detailed-view-schedule-status {
    .bar-legend {
      overflow: hidden;
      margin: 17px 0 4px;
      li {
        margin-right: 40px;
      }
    }
  }
  .expand-collapse-button {
    display: block;
    max-width: 305px;
    height: 39px;
    line-height: 35px;
    span {
      text-align: left;
      padding: 0 15px;
      height: 36px;
      line-height: 35px;
    }
  }
}
.project-benefits,
.project-timings,
.project-timings,
.user-information {
  h2 {
    color: #0d6c88;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #f0f4fa;
    padding-bottom: 10px;
    a {
      margin-left: 2px!important;
      height: 19px!important;
    }
  }
}

#inner-content {
  h2 {
    a {
      margin-left: 2px!important;
      height: 19px!important;
    }
  }
}

#project-baseline-history {
  & .project-history {
    border-bottom: 1px solid #f0f4fa;
    padding-bottom: 10px;
    &:last-child {
      border-bottom: none;
    }
  }
  & .project-history > .label {
    color: #202b3d;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 9px;
    padding-right: 15px;
    padding-top: 9px;
  }
  & .project-history .sub-content {
    padding-left: 15px;
  }
  & .pbh-buttons {
    & a {
      width: 180px;
    }
    margin-bottom: 50px;
  }
}

.project-draft-submission {
  .row {
    .text {
      #edit-field-brief-project-summary {
        max-width: 640px;
        #cke_1_bottom {
          background: none;
          border-top: none;
        }
      }
    }
  }
}

.other-option-buttons {
  display: inline-block;
  & .print_pdf {
    margin-left: 0px;
    text-transform: uppercase;
    display: block;
    & a.print-pdf {
      min-width: 275px !important;
      margin: 10px 10px 3px;
    }
  }
}

body .object_and_summary, body .entity_comments, span.tooltip-content {
  a {
    color: #0d6c88;
    text-decoration: underline;
    &:hover {
      color: #0d6c88;
      text-decoration: none;
    }
    &:visited {
      color: #0d6c88;
    }
    &:focus {
      color: #0d6c88;
    }
  }
  ul {
    list-style-type: disc;
    ul{ 
    list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }
  p {
    color: #202b3d;
  }
  ol,ul {
    color: #202b3d;
    padding-left: 40px;
    margin: 0.5em 0;
    ol,ul {
      padding-left: 40px; 
    }         
  }
  ol {
    list-style-type: decimal;
  }    
}
div.tooltip-edit {
  cursor: pointer;
  position: static;
  span.tooltip-content {
    &::after {
      border-left: none;
      border-right: 30px solid transparent;
      left: 40px;
    }
    z-index: 1;
    width: auto;
    text-align: left;
    right: auto;
    left: 0;
    bottom: 40px;
  }    
}

#print-links-container {
  text-align: right;
  & .pdf_button {
    margin-bottom: 38px;
    & .print_pdf {
      margin-left: 0px;
      text-transform: uppercase;
      & a.print-pdf {
        min-width: 275px !important;
        margin: 10px 10px 3px;
      }
    }
  }
}

#project-listings{
  h2 {
    font-weight: 600;
    color: #0d6c88;
    font-size: 26px;
    border-bottom: 1px solid #f0f4fa;
    margin: 21px 0 30px;
    padding: 0 0 8px;
  }
  .table-config-bar {
    margin: 30px 0 18px;
    .form-type-select {
      label {
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
        margin-right: 6px;
        vertical-align: middle;
      }
      .sbHolder {
        width: auto;
        min-width: 79px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .item-list {
      float: right;
    }
    .pager {
      margin: 0;
    }
  }
}
.last-updated-block {
  width: 970px;
  margin: 0 auto;
  display: table;
  margin-top: 25px;
  margin-bottom: 10px;
  .wrap.last-updated-on {
    width: 50%!important;
    max-width: 970px;
    float: left;
    min-width: 0;
    p {
      margin: 0;
      font-size: 14px;
      strong {
        font-size: 14px;
      }
    }
  }
  .view-baseline-history {
    width: 50%;
    text-align: right;
    float: right;
    display: block;
    margin: 0;
    .view-baseline-link {
      color: #0d6c88;
      font-weight: 400;
      font-size: 14px;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .view-baseline-tooltip {
      margin-right: 0;
      .tooltip-content {
        text-align: left;
      }
    }
  }
}

#autocomplete {
  border: none;
  margin-top: 2px;
  & ul {
    background-color: #fff;
    border: solid 1px #b3bdcf;
    border-radius: 4px;
    margin: 0;
    padding: 0 8px;
    width: 100%;
    overflow: hidden;
    li {
      /*padding: 0 7px;*/
      border-bottom: dotted 1px #515151;
      display: block;
      outline: none;
      padding: 7px 0 7px 3px;
      &.selected {
        color: #0d6c88;
      }
      &:last-child {
        border-bottom: none;
      }
      &:focus, &:hover{
        color: #0d6c88;
        cursor: pointer;
      }
    }
  }
}
.ict-rebaseline-warn {
  .fancybox-title {
    margin-bottom: 15px!important;
  }
  background: #fff;
  border-radius: 5px;
  .ict-fancy-content {
    margin-top: 0;
    overflow: auto;
    strong {
      color: black;
    }
    p {
      margin: 0;
      line-height: 1.5em;
    }
  } 
}
.viz-number-of-benefits {
  position: relative;
  font-weight: 700;
  color: #202b3d;
  padding-right: 15px;
  padding-top: 22px;
}
.rebaseline-indicate {
  display: block;
  font-family: 'Open Sans';
  color: #4e5365;
  font-size: 13px;
  font-style: italic;
  text-align: left;
}
.rebaseline-privious-project-list {
  padding-left: 38px!important;
}
.rebaseline-info {
  display: block;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 13px;
  font-style: italic;
  text-align: left;
  margin-bottom: 24px;
}
.project-title-info {
  margin-bottom: 0;
}
#content .project-program-link {
  color: #0d6c88;
  text-decoration: underline;
  &:hover {
    color: #0d6c88;
    text-decoration: none;
  }
  &:visited {
    color: #0d6c88;
  }
  &:focus {
    color: #0d6c88;
  }
}
.page-block {
  #content {
    width: 970px;
    margin: 0 auto;
  }
}
.pane-block, .page-block #content, .node-type-page #content, .entity-bean .content {
    blockquote {
      color: #202b3d;
      p {
        color: #202b3d;
      }
      border-left: 2px solid #0d6c88;
      padding-left: 10px;
      position: relative;
      font-style: italic;
      margin-left: 80px;
      &:before {
        content: "Note: ";
        position: absolute;
        left: -45px;
        top: -6px;
        color: #0d6c88;
        font-style: italic;
        font-weight: 600;
        font-size: 14px;
      }
    }
    h2 {
      font-family: "Open Sans", sans-serif;
      color:  #0d6c88;
      font-size: 26px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
    }
    h3 {
      font-family: "Open Sans", sans-serif;
      color: #202b3d;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
    }
    h4 {
      font-family: "Open Sans", sans-serif;
      color: #202b3d;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
    }   
    h5 {
      font-family: "Open Sans", sans-serif;
      color: #202b3d;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      text-align: left;
      font-style: italic;
      text-transform: inherit;
      letter-spacing: 0;
    }       
    p {
      color: #4e5365;
      margin: 5px 0;
      font-size: 14px;
      line-height: 22px;
    }
    a {
      color: #027e9c;
      text-decoration: underline;
      &:focus,
      &:hover,
      &:visited {
        color: #027e9c!important;
        text-decoration: none;
      }
    }
    a[href^="http"] {
      color: #027e9c;
      text-decoration: underline;
      &:focus,
      &:hover,
      &:visited {
        color: #027e9c!important;
        text-decoration: none;
      }
      &:after {
        content: " ";
        background: url(/sites/all/themes/itdash/html/images/ico-01.png);
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 5px;
      }
    }
    ol {
      padding-left: 20px;
      margin: 0;
      counter-reset: item;
      color: #4e5365;
      li {
        text-indent:-10px;
        color: #4e5365;
        p {
          margin: 0 0 0 11px;;
        }
        p:first-of-type {
          display: inline-block;
          margin: 0 0 0 10px;
        }            
        font-family: "Open sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        display: block;
        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: #0d6c88;
        }
        ol {
          counter-reset: alpha;
          margin: 0 0 0.75em 10px;
          li {
            &:before {
              content: counter(alpha, lower-alpha) ". ";
              counter-increment: alpha;
            }
          }
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      padding-left: 22px;
      li {
        text-indent: -10px;
        padding-left: 14px;
        p {
          margin: 0 0 0 10px;
        }
        p:first-of-type {
          display: inline-block;
        }
        font-family: "Open sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #4e5365;
        list-style: none;
        line-height: 1.6em;
        &:before {
          font-size: 20px;
          content: "• ";
          display: inline-block;
          width: 10px;
          height: 5px;
          vertical-align: middle;
          line-height: 1;
        }
        ul {
          li {
            &:before {
              content: "• ";
              line-height: 1;
              color: #55beaf;
            }
            ul {
              li {
                &:before {
                  content: "• ";
                  line-height: 1;
                  color: #aabcb9; 
                }
              }
            }
          }
        }
      }
    }

}
