/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
	min-width: 970px;
	width: 970px;
	padding: 0;
}
.panel-3col .panel-col-first {
  float: left;
  width: 25%;
}
.footer {
	#inner-footer {
		.wrap.cf {
			width: 970px;
			min-width: 970px;
			.copy {
				padding-right: 0;
				padding-left: 0;
			}
			.menu {
				padding-left: 0;
				li {
					&.last {
						right: 5px;
					}
				}
			}
			.copy.second-copy {
				width: 25%;
				padding-right: 5px;
			}
		}
	}
}

#container {
	#content {
		#ict-home-projects-table-id {
			padding-right: 0;
			padding-left: 0;
		}
		#ict-home-projects-table-id {
			table {
				tr {
					td.schedule-status-col {
						padding-left: 40px;
						&:before {
							left: 15px;
						}
					}
				}
				.ict-sort-link-desktop {
					display: block;
				}
				.ict-sort-link-mobile {
					display: none;
				}
			}
		}
		.pane-last-updated {
			.last-updated-on {
				padding-left: 0;
			}
		}
	}
}
