/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
	min-width: 970px;
	width: 970px;
	padding: 0;
}
.panel-3col .panel-col-first {
  float: left;
  width: 25%;
}