/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $opensans;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

#container {
	width: 100%;
	overflow: hidden;
}

.wrap {
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	color: #c8f68f;
    font-size: 34px;
    font-weight: 400;
}

h2, .h2 {
	font-size: 24px;
	line-height: 1.4em;
	margin-bottom: 0.375em;
	color:  #0c6c88;
	font-weight: 600;
	border-bottom: 1px solid #f0f4fa;
    padding-bottom: 10px;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	position: relative;
	background: url(../images/header-bg.png) repeat-x scroll 0 0 #17716b;
	padding-left: 20px;
	padding-right: 20px;

	#logo {
		margin-top: 30px;
		margin-bottom: 5px;
		overflow: hidden;
		font-size: 34px;
		text-transform: uppercase;

		& > a {
			color: $white;
			float: left;
			img {
				width: 93px;
			}
		}

		span {
			font-size: 28px;
			line-height: 28px;
			margin-left: 14px;
			margin-top: 5px;
			float: left;
			a {
				color: $white;
				font-size: 26px;
				line-height: 30px;

				strong {
					letter-spacing: 1.5px;
					font-weight: 700;
					font-family: $ptsans;
				}
			}
		}
	}
	/*********************
	LOGIN AND REGISTER
	*********************/
	.login-register {
		float: right;
		margin: 5px 0 10px;
		ul {
			margin: 0;
			li {
				float: left;
				a {
					font-size: 15px;
					font-weight: 600;
					text-decoration: none;
					text-align: center;
					line-height: 37px;
					margin-left: 20px;
				}

				&.reg {
					a {
						color: #d5ff92;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				&.log {
					a {
						color: $white;
						background: url(../images/register-btn.png) no-repeat scroll 0 0;
						width: 81px;
						height: 41px;
						display: block;

						&:hover {
							background-position: 0 -41px;
						}
					}
				}
			}
		}
	}

	/*********************
    NAVIGATION STYLES
    *********************/

	#navigation {

		/*
        all navs have a .nav class applied via
        the wp_menu function; this is so we can
        easily write one group of styles for
        the navs on the site so our css is cleaner
        and more scalable.
        */

		float: left;

		.slicknav_menu {
			.slicknav_btn {
				color: $white;
				text-decoration: none;
				display: block;
				padding: 15px 25px 24px 65px;
				margin: 0 0 0 -20px;
				border-radius: 0;
				.slicknav_menutxt {
					font-weight: 600;
					font-size: 15px;

				}
				&.slicknav_open {
					background-color: #0c5c57;
				}
				.slicknav_icon {
					position: absolute;
					left: 20px;
					top: 8px;
					float: left;
					.slicknav_icon-bar {
						margin-top: 6px;
						background-color: $white;
						display: block;
						height: 2px;
						width: 30px;
					}
				}
			}
			.slicknav_nav {
				position: absolute;
				top: 100%;
				width: 100%;
				background-color: #17716B;
				margin-left: -20px;
				li {
					border-top: 1px solid #09514c;
					border-bottom: none;
					a {
						position: relative;
						font-size: 15px;
						color: $white;
						text-transform: none;
						font-weight: 600;
						&:hover, &.active {
							background-color: #0c5c57;
						}
						&:before {
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							width: 4px;
						}
					}
					&.blue {
						a:before {
							background: $blue;
						}
					}
					&.blue-green {
						a:before {
							background: $blue-green;
						}
					}
					&.green {
						a:before {
							background: $green;
						}
					}
					&.yellow-text {
						a:before {
							background: $yellow-text;
						}
					}
					&.salad {
						a:before {
							background: $salad;
						}
					}
					&.yellow-green {
						a:before {
							background: $yellow-green;
						}
					}
				}
			}
		}

		.nav {
			&#main-menu {
				display: none;
			}
			border-bottom: 0;
			margin: 0;

			li {

				a {
					display: block;
					color: $gray;
					text-decoration: none;
					padding: 0.75em;

					/*
                    remember this is for mobile ONLY, so there's no need
                    to even declare hover styles here, you can do it in
                    the style.scss file where it's relevant. We want to
                    keep this file as small as possible!
                    */
					&:hover, &:focus {

					}
				}

				&:first-child {
				}

				&:last-child {
				}

				/*
                so you really have to rethink your dropdowns for mobile.
                you don't want to have it expand too much because the
                screen is so small. How you manage your menu should
                depend on the project. Here's some great info on it:
                http://www.alistapart.com/articles/organizing-mobile/
                */
				ul.sub-menu,
				ul.children {

					li {

						a {
							padding-left: 30px;

							&:hover,
							&:focus {
							}

							&:link {
							}

						}

						&:first-child {
						}

						&:last-child {
						}

					}

				}

			}
			/* end .menu li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {

				a {
				}

			}
			/* end current highlighters */

		}
		/* end .nav */
	}
	/*********************
	USER TOOLS
	*********************/
	.user-tools {
		position: absolute;
		right:20px;
		top:129px;

		&>div {
			span {
				font-size: 14px;
				color: $yellow-text;
				background: url(../images/user-icon.png) no-repeat scroll 0 0 transparent;
				padding: 0 0 0 25px;
				display: inline-block;
			}
			.user-option {
				display: inline-block;
				margin-left: 20px;
				height: 24px;

				a.arrowdown {
					border: 1px solid rgba(0, 0, 0, 0);
					color: $yellow-text;
					display: block;
					height: 25px;
					outline: 0 none;
					text-align: center;
					width: 22px;

					i {
						font-size: 10px;
						vertical-align: 3px;
					}

					&:hover {
						border: 1px solid $yellow-text;
						border-radius: 3px;
					}

					&.active {
						background-color: #07524d;
						border-radius: 3px 3px 0 0;

						&:hover {
							border: 1px solid transparent;
						}
					}
				}
				ul {
					background-color: #07524d;
					border-radius: 3px 0 3px 3px;
					display: none;
					margin: 0;
					padding: 5px 15px;
					position: absolute;
					right: 0;
					top: 100%;
					width: 160px;

					li {
						border-top: 1px solid #11655f;

						&:first-child { border-top: 0 none; }

						a {
							font-size: 14px;
							color: $white;
							text-decoration: none;
							line-height: 27px;

							&:hover {
								color: $yellow-text;
							}
						}

					}
				}
			}
		}
	}
}


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#project-baseline-history {
		#inner-content {
			padding: 0 20px;
			.project-draft-submission {
				padding: 0;
				.pbh-buttons {
					a {
						width: 100%;
					}
				}
			}
			.project-history {
				.project-draft-submission {
					padding-left: 15px!important;
				}
			}
		}
	}
	.last-updated-block {
		width: 100%;
		padding: 0 20px;
		.last-updated-on  {
			width: 100%!important;
			margin-bottom: 20px;
			padding-bottom: 25px;
			p {
				color:  #202b3d;
			}
			strong {
				font-weight: 700;
			}
		}
		.view-baseline-history {
			float: none;
			text-align: left;
			width: 100%;
			.view-baseline-link{
				color: #0d6c88;
				font-weight: 700;
				text-decoration: none;
				border-radius: 4px;
				border-width: 1px;
				border-color:  #9fa5c5;
				border-style: solid;
				border-style: solid;
				border-width: 1px;
				border-color:  #dbe0e7;
				box-sizing: border-box;
				background-color:  #f9fafc;
				box-shadow: 1px 3px 0px 0px rgba(21, 29, 44, 0.03);
				padding: 8px 40px;
			}
			.view-baseline-tooltip {
				span {
					right: 0;
					bottom: 28px;
					font-size: 12px;
					width: 280px;
				}
				span::after {
					border-left: none;
					border-right: none;
				}
			}
		}
	}	
	#inner-content {
		.individual-project-page {
			margin: 20px;
			padding-bottom: 15px;
		}
		.project-draft-submission {
			.row {
				.text {
					color: #4e5365!important;
				}
			}
			padding: 0 20px;
			.individual-page-tooltip-height {
				bottom: 120px;
			}
			#project-benefits {
				a {
					position: relative;
					z-index: 0;
					span.tooltip-content {
						right: -56px;
						width: 280px;
					}
					span.tooltip-content::after {
						border-right: 0;
						border-left: 0;
					}
				}
			}
			.user-information {
				a {
					position: relative;
					z-index: 0;
					span.tooltip-content {
						right: 0;
						width: 240px;
					}
					span.tooltip-content::after {
						border-right: 0;
						border-left: 0;
					}
				}
			}
			.label {
				padding-right: 0;
				a {
					position: initial;
					span.tooltip-content {
						right: 0;
						width: 280px;
					}
					span.tooltip-content::after {
						border-right: 0;
						border-left: 0;
					}
				}
			}
			a {
				text-decoration: none;
			}
			#field_end_predicted_budget {
				tbody {
					tr {
						th {
							border-radius: 0;
						}
					}
				}
			}
			.individual-project-content {
				padding: 0;
				.preview_switch {
					width: 100%;
    				margin: 15px 0;
    				min-width: 100%!important;
    				height: auto;
    				text-align: left;
    				line-height: 20px;
    				padding: 10px;
    				position: relative;
    				padding-left: 50px;
    				span {
    					vertical-align: middle;
    					bottom: 0;
    					top: 0;
    					left: 20px;
    					margin: auto;
    					position: absolute;
    					width: 20px;
    					height: 17px;
    				}
    				&:hover {
    					background-position: inherit;
    				}
				}
			}
			#benefits_legend {
				overflow: visible;
				color: #202b3d;
				.bar-legend {
					padding-left: 0;
					li {
						float: left;
						margin-right: 0;
					}
				}
			}
			.row {
				.text {
					p {
						color: #4e5365;
					}
					.project-individual-page-graph{
						margin-left: 0;
						.bar-legend li {
							margin: 3px 0;
							margin-right: 0;
						}
					}
				}
			}
			.project-program-link {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
			.email-value {
				text-decoration: underline;
				&:hover {
				text-decoration: none;
				}
			}
			.entity_comments {
				a {
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
			#inner-content {
				.project-draft-submission {
					label {
						a {
							position: initial;
							span.tooltip-content {
								right: 0;
								width: 280px;
								bottom: 120px;
							}
							span.tooltip-content::after {
								border-right: 0;
								border-left: 0;
							}
						}						
					}
				}
			}
		}
		#print-links-container {
			.pdf_button {
				margin-bottom: 50px;
				a {
					min-width: none!important;
					width: 100%;
					margin: 0;
				}
			}
		}
		.ict-benefits {
			.ict-faq-question {
				padding: 15px 15px 15px 60px;
				.benfit-status {
					position: initial;
				}
			}
			.ict-faq-answer {
				ul {
					li {
						div {
							display: block;
						}
					}
				}

			}
		}
	}
}
#content {
	#ict-home-projects-table-id {
		padding: 0 20px;
		.footable-header {
			.viz-tooltips-row {
				position: absolute;
				bottom: 15px;
				margin-left: 0;
    			margin-top: 4px;
			}
			.footable-toggle {
				display: none;
			}
			a.ict-sort-link {
				margin-left: 0!important;
				&:after {
					top: 15px;
				}
				&:before {
					top: 25px;
				}
			}
		}
		tr {
			td {
				border-bottom: 2px dotted #f0f4fa;
				padding-bottom: 14px !important;
			}
			th {
				padding: 7px 25px 42px 14px;
			}
		}
		span.footable-toggle.fooicon.fooicon-minus {
			opacity: 1;
			&::before {
				content: ' ';
			    background-image: url(/sites/all/themes/itdash/html/images/minus.png);
			    width: 26px;
			    height: 26px;
			    position: absolute;
			    top: 0;
			    left: 0;
			}
			& + a {
				margin-left: 40px;
			}
		}
		span.footable-toggle.fooicon.fooicon-plus {
			opacity: 1;
			&::before {
				content: ' ';
			    background-image: url(/sites/all/themes/itdash/html/images/plus.png);
			    width: 26px;
			    height: 26px;
			    position: absolute;
			    top: 0;
			    left: 0;
			}
			& + a {
				margin-left: 40px;
			}
		}		
		.footable-detail-row {
			td:first-child {
				padding-left: 40px;
				padding-right: 10px;
			}
			.footable-details {
				.viz-tooltips-row {
					margin-left: 10px;
					margin-top: 3px;
				}
				tbody {
					tr:first-child {
						display: none;
					}
				}
				tr {
					th {
						background-color: #fff;
						color: #202b3d;
						border-left: none;
						display: block;
						width: 100%;
						padding-right: 0;
						display: flex;
						padding-bottom: 7px;
						font-size: 14px;

					}
					td {
						display: block !important;
						width: auto;
						padding-right: 0;
						padding-top: 0;
						border-bottom: none;
						height: auto;
						padding-bottom: 12px;
						word-break: break-word;
						.ict-project-button {
							padding-top: 7px;
							padding-bottom: 8px;
							a::before {
								left: 44%;
							}
						}

					}
					.schedule-status-col::before {
						top: 0;
						margin-top: 4px;					
					}
				}
			}
		}
	}
}
#content {
	// margin-top: 1.5em;
}
	
		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;
			border: 1px solid $border-color;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {
		    padding: 0 20px;
		    background: url(../images/dot-bg.png) repeat scroll top center #1e2635;
		}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	background: url(../images/footer-bg.png) repeat-x scroll 0 0 #cdd4e0;
	border-top: 1px solid #03a7a4;
	clear: both;
	margin-top: 30px;
	position: relative;
	z-index: 10;
	font-size: 13px;
	font-weight: 400;
	#inner-footer {
		.wrap.cf {
			.copy {
				margin-top: 30px;
				width: 100%;
				color: #363a41;
				text-align: center;
				padding-left: 20px;
				padding-right: 20px;
				line-height: 22px;
				margin-bottom: 0;
			}
			.menu {
				display: inline-block;
				margin-top: 20px;
				margin-bottom: 0;
				width: 100%;
				padding-left: 16px;
				line-height: 21px;
				position: relative;
				li {
					display: block;
					&:before {
						content: '\00b7';
						color: #137992;
						font-size: 26px;
						padding: 5px 5px 5px 3px;
						vertical-align: -4px;
						line-height: 18px;
					}
					&.last {
						position: absolute;
						top: 0;
						right: 20px;
						&:before {
							content: '';
							padding: 0;
						}
					}
					a {
						color: #363a41;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.copy.second-copy {
				margin: 0;
				margin-top: 5px;
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
.panel-3col .panel-col-first {
  float: left;
  width: 0%;
}

/*********************
DETAILED OVERVIEW STYLES
*********************/

#container {
	#content {
		margin-top: 0;
		.page-title.dotbg {
			background-color: #1e2635;
			.inner-title-content h1 {
				font-family: $opensans;
				color:  #c8f68f;
				font-size: 28px;/* Approximation due to font substitution */
				font-weight: 400;
				line-height: 34px;/* Approximation due to font substitution */
				text-align: left;
			}
		}
		#ict-dashboard-detailed-overview {
			.section-title {
				h2 {
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 0;
					font-family: $opensans;
					color:  #0c6c88;
					font-size: 24px;/* Approximation due to font substitution */
					font-weight: 600;
					line-height: 29px;/* Approximation due to font substitution */
					text-align: left;
				}
			}
			#detailed-view-expenditure {
				padding-left: 20px;
				padding-right: 20px;
			}
			#detailed-view-schedule-status {
				margin-top: 20px;
				#statuses_legend {
					.bar-legend li {
						float: none;
						.noofproj,
						.curqua {
							text-align: right;
						}
					}
				}
			}
			#detailed_schedule_chart_current {
				margin-left: 7px;
			}
			.benefits_chart_divs {
				overflow: hidden;
				#benefits_chart_div {
					padding-left: 12px;
					padding-right: 20px;
				}
				#benefits_legend {
					width: 100%;
					margin: 0;
					.bar-legend {
						padding-left: 20px;
						margin-top: 8px;
					}
				}
			}
			.viz-number-of-benefits {
				padding-left: 20px;
			}
		}
	}
}