.page-user .tabs {display: none;}
#content #inner-content .signin-request .tab-content .tab form p input[type="password"] {
    background-color: #fff;
    border: 1px solid #b3bdcf;
    width: 100%;
    max-width: 100%;
    font-size: 14px;
}
ul#main-menu li {list-style: none;}
.header {position: relative;z-index: 99;}
#content #project-listings .project-lists table tr td.title,
#content #project-listings .project-lists table tr th:first-child {width: 490px;}
.profile h3 {border: none;}

#content #inner-content .register-form form p input[type="password"],
input.password-field,
input.password-confirm,
input.password-field:focus,
input.password-confirm:focus

{
  background-color: #fff;
  border: 1px solid #b3bdcf;
  width: 100%;
  max-width: 100%;
  font-size: 14px;
}


.form-type-password label{
  font-size: 14px;
  font-weight: 700;
  color: #202b3d;
}

#user-profile-form .form-submit {
  background: url("../html/images/submit-btn.png") no-repeat scroll 0 0 transparent;
  border: 0 none;
  height: 44px;
  overflow: hidden;
  text-indent: -999em;
  width: 130px;
}

.confirm-parent, .password-parent {
  width: 100%;
}

/*.user-tools>div span {
  width: 85px;
  word-wrap: break-word;
}*/

.date .form-item {
  float: left;
  padding-right: 0.75em;
  width: 33.33%;
}

.date .form-item label {display: none;}

#edit-field-original-total-budget input,
#edit-field-rebaselined-total-budget input {
  background-color: #fff;

}

#project-node-form select#edit-field-project-users-und {
  height: 128px;
  padding: 5px 0;
}


#edit-field-rebaselined-total-budget table, #edit-field-rebaselined-total-budget th,  div#edit-field-rebaselined-total-budget td,
#edit-field-original-total-budget table, #edit-field-original-total-budget th,  div#edit-field-original-total-budget td {
 
}

.field-name-field-total input {

}

div#edit-field-original-total-budget td,
div#edit-field-rebaselined-total-budget td {
  text-align: center;
}

.field-widget-number input {
  margin: 0;
  padding: 0;
  height: 54px;
}

.page-dashboard h2 {
    color: #0d6c88;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px solid #d6ddeb;
    padding-bottom: 10px;
}
.page-dashboard .field {
    max-width: none;
    line-height: 25px;
}
#content .project-categories .box .inner-box .text {min-height: 105px;}

#user-register-form .form-text {
  max-width: 100%;
  border: 1px solid #b3bdcf;
}

#user-register-form .form-required {
  color: #ee2a24;
}

#user-register-form label{
  font-size: 14px;
  font-weight: 700;
  color: #202b3d;
}
.page-node .tabs {display: none;}

.pager li a {
  color: #0d6c88;
  text-decoration: none;
}
.pager li {
  float: left;
  padding: 10px;
}
.tooltipster-icon {
    cursor: help;
    margin-left: 4px;
    background: #137992;
    border: 1px solid #137992;
    padding: 0 2px 2px;
    border-radius: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    position: relative;
    behavior: url(PIE.php);
}
.tooltipster-icon:hover {background-color: #0a5f74;}
/*.radio-description .form-item {float: left;}*/
.header #logo {font-size: 29px;}
.footer #inner-footer .copy {width: 70%;}
#contact_link {
    color: #363a41;
    margin: 1.5em 0;
    float: left;
}
.tabledrag-toggle-weight {display: none;}
#project-node-form .tabledrag-hide {display: none;}
