/******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/

  body:before {
    content: 'IMPORTANT: Print only in Landscape Orientation to avoid clipping of charts.';
    font-weight: bold;
    margin: 0 2cm;
  }

  .header {
    margin: 0 1.5cm;
  }

  *{
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

    @page {
      margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    // hide content people who print don't need to see
    .sidebar,
    .page-navigation,
    .wp-prev-next,
    .respond-form,
    nav {
      display: none;
    }

  .user-tools {
    display: none;
  }
  #container #inner-content #print-links-container .pdf_button,
  #content .submit-button,
  #content .last-updated-block .view-baseline-history {
    display: none;
  }

  body .ict-benefits .node-faq-item .ict-faq-answer, #content .ict-benefits .node-faq-item .ict-faq-answer {
    overflow: visible;
    display: block !important;
  }

  .ict-faq-answer ul li .label:before {
    content: '' !important;
  }

  .header #logo > *#print-logo {
    display: inline-block !important;
  }

  #web-logo {
    display: none !important;
  }

  body .ict-benefits .node-faq-item .benfit-status .status-marker, #content .ict-benefits .node-faq-item .benfit-status .status-marker img,
  .legend .bar-legend li span img {
    display: inline;
  }

  .user-information {
    display: none;
  }

  td, th {
    border: 1px solid black !important;
    border-collapse: collapse !important;
  }

